@import '~antd/dist/antd.css';

* {
  font-family: 'RocknRoll One', sans-serif;
}

.BG-cart {
  background: transparent linear-gradient(180deg, #CBF1FF 0%, #F9E8B1 100%);
  height: auto;
}

.add-item {
    margin-right: 4px;
}

.placeholder .container {
    width: 80%;
}

.product-details {
    margin-left: 20px;
}

.product-quantity {
    margin-left: 20px;
}

.product-buttons {
    text-align: right;
}

.product-buttons button svg {
    width: 20px;
}